.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.tarefas li:hover {
  background: #51c5de;
  transition: 0.5s;
}


.tarefas li .edit {
  margin-right: 15px;
  color: #51c5de;
}

.tarefas li .delete {
  margin-right: 15px;
  color: #f04c64;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete{
  color: black;
  transition: 0.5s;
}

.tarefas li .edit,
.tarefas li .delete{
  cursor: pointer;
}

.tarefas li span {
  display: flex;
  align-items: center;
}